<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
</head>
<body>
    <link href="../static/style.css" rel="stylesheet" />
    <p><a href="{{ url_for('home') }}">Back</a></p>
    {% if msg != "" %}<p>{{ msg }}</p>{% endif %}
    {% if total_matches > 0 %}<p>Showing {{ "{:,}".format(offset+1) }}-{{ "{:,}".format(min(offset+n, total_matches)) }} of {{ "{:,}".format(total_matches) }} result{% if total_matches > 1 %}s{% endif %} {% if offset > 0 %}(<a href="{{ args_str.replace('offset=%d' % offset, 'offset=%d' % (max(offset-n, 0))) }}">previous</a>){% endif %} {% if offset+n < total_matches %}(<a href="{{ args_str.replace('offset=%d' % offset, 'offset=%d' % (offset+n)) }}">next</a>){% endif %}</p>{% endif %}
    <form action="{{ url_for('edit') }}{{ args_str }}" method="post">
        <table>
            {% for word in words %}
            <tr>
                <th colspan="7" style="text-align:center;"><span class="headword">{{ word }}</span> <button id="rejectall-{{ word }}" type="button">Reject all pending</button> <button id="reset-{{ word }}" type="button">Reset all</button></th>
            </tr>
            {% for sense in words[word] %}
            {% set status = get_status(word, sense) %}
            {% set def = sense['def'].lower() %}
            {% set key = none %}
            {% if loop.index <= 10 %}{% set key = loop.index % 10 %}{% endif %}
            <tr class="sense {{ word }}" id="{{ sense['md5'] }}" forms="{{ list_forms(sense) }}">
                <input id="form-{{ sense['md5'] }}" type="hidden" name="{{ word }} {{ sense['md5'] }}" value="{{ '.' if status == '/' else status }}"/>
                <td>{{ sense["word"] }}</td>
                <td id="accepted-{{ sense['md5'] }}" class="button accepted{% if status == '+' %} selected{% endif %}{% if key != none %} {{ word }}{{ key }}{% endif %}" style="text-align: center;">{% if key != none %}{{ key }}{% endif %}</td>
                <td id="rejected-{{ sense['md5'] }}" class="button rejected{% if status == '-' %} selected{% endif %}"></td>
                <td id="unsure-{{ sense['md5'] }}" class="button unsure{% if status == '?' %} selected{% endif %}"></td>
                <td id="pending-{{ sense['md5'] }}" class="button pending{% if status == '.' %} selected{% endif %}"></td>
                <td id="redundant-{{ sense['md5'] }}" class="not-button redundant{% if status == '/' %} selected{% endif %}"></td>
                <td id="def-{{ sense['md5'] }}" class="{% if sense in redundant_senses[word] %}redundant-definition{% endif %} {% if 'alt' in sense %}alt-form{% endif %} {% if 'misspelling' in def or 'eggcorn' in def or 'obsolete typography' in def %}misspelling{% endif %} {% if 'abbreviation' in def or 'acronym' in def or 'initialism' in def %}abbreviation{% endif %} {% if sense['pos'] == 'name' %}proper-noun{% endif %} {% if 'AUTOGEN' in sense['tags'] %}autogen{% endif %} {% if 'derogatory' in sense['tags'] or 'offensive' in sense['tags'] or 'slur' in sense['tags'] %}offensive{% endif %}">{{ sense["def"] }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
        {% if msg == "" %}<input id="submit" type="submit" value="Save Changes">{% endif %}
    </form>
    <script>
        let unsavedChanges = false;

        const possibleStatuses = ["accepted", "rejected", "unsure", "pending", "redundant"];

        const statusSymbols = {
            "accepted": "+",
            "rejected": "-",
            "unsure": "?",
            "pending": ".",
            "redundant": "/"
        };

        const words = {};
        const statuses = {};

        const senses = document.getElementsByClassName("sense");

        for (let i = 0; i < senses.length; i++) {
            let id = senses[i].id;
            let word = senses[i].classList[1];

            if (!words[word]) {
                words[word] = [];
            }

            words[word].push(id);

            let childNodes = document.getElementById(id).childNodes;

            for (let j = 0; j < childNodes.length; j++) {
                let node = childNodes[j]

                if (node.tagName) {
                    if (node.classList.contains("button")) {
                        node.addEventListener("click", function() {
                            unsavedChanges = true;

                            symbol = statusSymbols[node.classList[1]];
                            statuses[id] = symbol;
                            document.getElementById("form-" + id).value = symbol;

                            acceptedForms = {};

                            for (let k = 0; k < words[word].length; k++) {
                                let otherID = words[word][k];

                                if (statuses[otherID] == "+") {
                                    let otherForms = document.getElementById(otherID).getAttribute("forms").split(",");

                                    for (let l = 0; l < otherForms.length; l++) {
                                        acceptedForms[otherForms[l]] = true;
                                    }
                                }
                            }

                            for (let k = 0; k < words[word].length; k++) {
                                let otherID = words[word][k];

                                if (statuses[otherID] == "." || statuses[otherID] == "/") {
                                    let otherForms = document.getElementById(otherID).getAttribute("forms").split(",");
                                    let redundant = true;

                                    for (let l = 0; l < otherForms.length; l++) {
                                        if (!acceptedForms[otherForms[l]]) {
                                            redundant = false;
                                        }
                                    }

                                    if (redundant) {
                                        statuses[otherID] = "/";
                                    } else {
                                        statuses[otherID] = ".";
                                    }

                                    document.getElementById("form-" + otherID).value = ".";
                                }

                                let definition = document.getElementById("def-" + otherID);

                                for (let l = 0; l < possibleStatuses.length; l++) {
                                    let button = document.getElementById(possibleStatuses[l] + "-" + otherID);

                                    if (statuses[otherID] == statusSymbols[possibleStatuses[l]]) {
                                        button.classList.add("selected");

                                        if (possibleStatuses[l] == "redundant") {
                                            definition.classList.add("redundant-definition");
                                        }
                                    } else {
                                        button.classList.remove("selected");

                                        if (possibleStatuses[l] == "redundant") {
                                            definition.classList.remove("redundant-definition");
                                        }
                                    }
                                }
                            }
                        });
                    }

                    if (node.classList.contains("selected")) {
                        statuses[id] = statusSymbols[node.classList[1]];
                    }
                }
            }
        }

        document.getElementById("submit").addEventListener("click", function() {
            unsavedChanges = false;
        });

        window.addEventListener("beforeunload", function(e) {
            if (unsavedChanges) {
                e.preventDefault();
                e.returnValue = "";
            }
        });

        const headwordSpans = document.getElementsByClassName("headword");
        let headwordStrings = [];

        for (let i = 0; i < headwordSpans.length; i++) {
            headwordStrings.push(headwordSpans[i].textContent);
        }

        let selectionIndex = 0;

        if (headwordStrings.length >= 1) {
            window.addEventListener("keydown", function(e) {
                let rowsToUnhighlight = document.getElementsByClassName(headwordStrings[selectionIndex]);

                for (let i = 0; i < rowsToUnhighlight.length; i++) {
                    rowsToUnhighlight[i].classList.remove("key-selected");
                }

                if (!isNaN(e.key)) {
                    let keyInt = parseInt(e.key)

                    let keyedButton = document.getElementsByClassName(headwordStrings[selectionIndex] + keyInt);

                    if (keyedButton.length >= 1) {
                        if (statuses[keyedButton[0].id.split("-")[1]] == ".") {
                            keyedButton[0].click();
                        }
                    }

                    if (selectionIndex < headwordStrings.length-1) {
                        selectionIndex++;
                    }
                } else if (e.key == "ArrowLeft" && selectionIndex > 0) {
                    selectionIndex--;
                } else if (e.key == "ArrowRight" && selectionIndex < headwordStrings.length-1) {
                    selectionIndex++;
                }

                let rowsToHighlight = document.getElementsByClassName(headwordStrings[selectionIndex]);

                for (let i = 0; i < rowsToHighlight.length; i++) {
                    rowsToHighlight[i].classList.add("key-selected");
                }

                if (!isNaN(e.key) || e.key == "ArrowLeft" || e.key == "ArrowRight") {
                    if (headwordSpans[selectionIndex].getBoundingClientRect().bottom > window.innerHeight) {
                        headwordSpans[selectionIndex].scrollIntoView();
                    }

                    if (headwordSpans[selectionIndex].getBoundingClientRect().top < 0) {
                        headwordSpans[selectionIndex].scrollIntoView();
                    }
                }
            });
        }

        // this is so that the first headword is highlighted by default
        window.dispatchEvent(new KeyboardEvent("keydown", {key: "ArrowLeft"}));

        const wordsArray = Object.keys(words);

        for (let i = 0; i < wordsArray.length; i++) {
            let word = wordsArray[i];
            let rejectButton = document.getElementById("rejectall-" + word);
            let resetButton = document.getElementById("reset-" + word);

            rejectButton.addEventListener("click", function() {
                for (let j = 0; j < words[word].length; j++) {
                    let otherID = words[word][j];

                    if (statuses[otherID] == ".") {
                        document.getElementById("rejected-" + otherID).click();
                    }
                }
            });

            resetButton.addEventListener("click", function() {
                for (let j = 0; j < words[word].length; j++) {
                    let otherID = words[word][j];
                    document.getElementById("pending-" + otherID).click();
                }
            });
        }
    </script>
</body>
</html>